h1{
    text-align: center;
}
button{
    padding: 0.5rem;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: darkmagenta;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover{
        opacity: 0.8;
    }
}